<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Game Record</title>
</head>
<body>

{{#playerName}}
{{#modifyRecord}}

    <form action="/edit-game" method="post">
        <input type="text" placeholder="enter player one" name="playerOne"/>
        <input type="text" placeholder="enter player two" name="playerTwo"/>
        <input type="text" placeholder="enter player two" name="playerOneScore"/>
        <input type="text" placeholder="enter player two" name="playerTwoScore"/>
        <button type="submit">Enter game</button>
    </form>

{{/modifyRecord}}
{{/playerName}}

</body>
</html>